body{
    margin: 0px;
    text-align: center;
}
a{
    text-decoration: none;
    text-align: center;
}
/* #navi{
    margin: 0 auto;
    background: gray;
    width: 100%;
    height: 40px;
    font-size: 10px left;
} */
#second{
    width: 100%;
    height: 675px;
    background-color:rgb(46, 57, 66);
}
#third{
    width: 100%;
    height: 500px;
    background: #ccc;
}
  #fifth{
    width: 100%;
    height: 100px;
}  
#d5{
    width: 100%;
    height: 400px;
    background:#555 ;
    float: left;
}
#d51{
    position: relative;
    left: 300px;
    top: 100px;
}
#a51{
    position: relative;
    float: left;
    list-style: none;
    font-size: 14px;
    width:145px;
    text-align: center;
    line-height: 30px;
    margin-right: 1px;
    color: #ccc;
}
#a51:hover{
    color: #0f0;
}
#d52{
    position: relative;
    left: -400px;
    top: 200px;
    font-size: 10px;
}
#i3{
    width: 100%;
    height: 400px;
    position: relative;
    top: -400px;
}
#navi{
    margin: 0 auto;
    background: rgb(46, 57, 66);
    width: 100%;
    height: 40px;
    font-size: 10px left;
}
#navi a{
    height: 20px;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-top: #fff 5px solid;
    float: left;
    background-color:rgb(46, 57, 66);
    float: right;
    color: rgb(186, 201, 214);
    /* position: relative;
    top: -20px; */
}
#a1,#a2,#a3,#a4,#a5{
    position: relative;
    top: -20px; 
}
#pp{
    color: rgba(255, 174, 0, 0.829);;
    padding: 0px;
    margin: 0px;
}
#navi a:hover{
    color: rgb(74, 104, 109);
    border-top: yellow 5px solid;
}
#menu{
    position: fixed;
    top: 200px;
    left: 10px;
    width: 100px;
    background: rgba(0, 255, 255, 0.342);
    border-radius: 10px;
}
#aa{
    color: rgb(255, 196, 0);
}
#aa:hover{
    color: rgb(255, 94, 0);
}
#g1{
    position: absolute;
    list-style: none;
    font-size: 14px;
    width:150px;
    text-align: center;
    line-height: 30px;
    margin-right: 1px;
    background: rgb(240, 230, 120);
    border-radius: 10px;
    z-index:6;
    top: 100px;
    left: 1000px;
}
#g1:hover{
    background-color: rgb(229, 255, 0);
}
#g2{
    position: absolute;
    float: left;
    list-style: none;
    font-size: 14px;
    width:100px;
    text-align: center;
    line-height: 30px;
    margin-right: 1px;
    background: rgb(255, 117, 38);
    border-radius: 10px;
    z-index:6;
    top: 100px;
    left: 1200px;
}
#g2:hover{
    background-color: rgb(255, 187, 0);
}
#g31{
    width: 300px;
    height: 200px;
    background-color: rgb(159, 213, 245);
    border-radius: 20px;
    position: relative;
    top: -216px;
    left: 250px;
    border-right: 2px solid #fff;
}
#d32{
    width: 300px;
    height: 600px;
}
#d33{
    width: 230px;
    height: 450px;
    float: right;
    position: relative;
    top: -600px;
}
#ii3{
    width: 100%;
}
#g311{
    font-size: 30px;
    color: #fff;
}
#g312{
    widows: 100px;
    height: auto;
}
#g313{
    width: 200px;
    height: 30px;
    background-color: rgb(87, 136, 226);
    position: relative;
    left: 50px;
    border-radius: 20px;
}
#g313:hover{
    background-color: rgb(82, 192, 187);
}
#i2{
    width: 200px;
}
#ii1{
    width:100px;
    position: relative;
    top: 50px;
    left: -30px;
}
#ii2{
    width:100px;
    position: relative;
    top: 50px;
    left: 30px;
}
#g32{
    width: 300px;
    height: 200px;
    background-color:rgb(159, 213, 245);
    border-radius: 20px;
    position: relative;
    top: -416px;
    left: 550px;
    border-left: 2px dashed #fff;
}
#g33{
    width: 300px;
    height: 200px;
    background-color: rgb(159, 213, 245);
    border-radius: 20px;
    position: relative;
    top: -616px;
    left: 850px;
    border-left: 2px dashed #fff;
}
#i1{
    width: 100%;
    height: auto;
}
#is1{
    width: 100%;
    height: auto;
    position: relative;
    top: -16px;
}
/* .p{
    text-align: left;
    position: relative;
    top: 
}
 */
#four{
    width: 100%;
    height: 800px;
    background:rgba(204, 204, 204, 0.568) ;
}
#d41,#d42,#d43{
    width: 250px;
    height: 300px;
    background-color: white;
    float: left;
    border: 0px solid #000;
    margin: 5px;
    position: relative;
    left: 300px;
    top: -50px;
    overflow: hidden;
}
#d44{
    width: 250px;
    height: 300px;
    background-color: white;
    float: left;
    border: 0px solid #000;
    margin: 5px;
    position: relative;
    left: -350px;
    top:300px;
    overflow: hidden;
}
#d45{
    width: 250px;
    height: 300px;
    background-color: white;
    float: right;
    border: 0px solid #000;
    margin: 5px;
    position: relative;
    top:-10px;
    left: -140px;
    overflow: hidden;
}

#d46{
    width: 300px;
    position: relative;
    left: 20px;
    top: -50px
}
#d47{
    width: 300px;
    float: right;
    position: relative;
    top: -450px;
}
#i5{
    width: 100%;
    height: 400px;
}
h1{
    margin: 0px;
    padding: 0px;
}
#d40{
    position: relative;
    right: 500px;
}
 #d411{
    transition:1s;
}
/* #d411:hover{
    transform: scale(1.1);
}  */
 #i6{
    width: 100%;
    height: auto;
    transition:1s;
}
#i6:hover{
    transform: scale(1.1);
    overflow: hidden;
} 
#d412{
    position: relative;
    top: 10px;
    float: left;
    font-size: 28px;
}
#d413{
    position: relative;
    top: 70px;
    left: -50px;
    color: gray
}
#d414{
    width: 50px;
    height: 20px;
    background: rgb(174, 231, 231);
    float: right;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    top: 100px;
    left: 0px;
    border-radius: 10px;
}
#d414:hover{
    background-color: rgb(112, 181, 182);
}


.swiper-container {
width: 50%;
height: 400px;
position: relative;
left: 150px;
top: -550px;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}